<DOCTYPE html>
<html>
	<head>
		<title>Drum machine</title>
	</head>
	<body>
		
		<div id="app">
			<div>
				<div id="tracks">
					<div class="current-pad">{{ currentPad + 1 }}</div>
					<div class="track" v-for="track in tracks">
						<div class="pad" v-for="pad in track.pads" v-bind:class="{'active': pad.active, 'playing': pad.playing}" @click="setActive(track, pad);"></div>
					</div>
				</div>
				
				<div id="settings">
					<div class="item">
						<button @click="startStop">{{ isPlaying ? 'Stop' : 'Start' }}</button>
					</div>
					<div class="item">
						<label>BPM:</label>
						<input id="bpm-control" type="range" min="70" max="500" value="220" @change="setBPM">
						<span id="bpm-value">{{ bpm }}</span>
					</div>
				</div>
			</div>
		</div>
		
		<style>
			
			* {
				box-sizing: border-box;
			}
			
			body * + * {
				margin-top: 10px
			}
			
			#tracks {
				border: 1px solid #aaa;
				padding: 20px;
				position: relative;
			}
			
			.current-pad {
				position: absolute;
				top: 0;
				right: 0;
			}
			
			.track {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}
			
			.pad {
				margin: 2px;
				width: 50px;
				height: 50px;
				border-radius: 4px;
				background-color: #ccc;
				cursor: pointer;
			}
			
			.pad.active {
				background-color: #6c6;
			}
			
			.pad.playing {
				border: 2px solid red;
			}
			
			#settings {
				border: 1px solid #aaa;
				padding: 20px;
			}
			
		</style>
		
		<script src="vue.js"></script>
		
		<script>
			
			const context = new AudioContext() || new webkitAudioContext();
			
			const app = new Vue({
				el: '#app',
				data: {
					bpm: 120,
					tracks: [
						// for example
						{
							sample: 'hat',
							pads: [
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
							]
						},
						{
							sample: 'snare',
							pads: [
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
							]
						},
						{
							sample: 'bass',
							pads: [
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
								{active: false, playing: false},
							]
						},
					],
					numberOfTracks: 3,
					numberOfPads: 8,
					currentPad: -1,
					timerId: 0,
					isPlaying: false,
					soundBuffers: {},
				},
				/* computed: {
					tracks: function {
						const tracks = [];
						return tracks;
					}
				}, */
				watch: {
					currentPad: function (n) {
						this.tracks.forEach(track => {
							track.pads[n].playing = true;
							if (track.pads[n].active) {
								this.playSample(track.sample);
							}
							const previousN = n != 0 ? n - 1 : track.pads.length - 1;
							track.pads[previousN].playing = false;
						});
					},
				},
				methods: {
					addTrack: (numberOfPads) => {
						const track = {
							id: 0,
							settings: {
								color: gray,
							},
							pads: [],
						};
						for (let i = 0; i < numberOfPads; i++) {
							track.pads.push(false);
						}
						this.tracks.push(track);
					},
					createTracks: function() {
						for (let i = 0; i < this.numberOfTracks; i++) {
							createTrack();
						}
					},
					createTrack: function() {
						const track = {
							sound: null,
							pads: [],
						};
						track.pads = [];
						this.tracks.push(track);
					},
					shiftActivePad: function(n) {
						this.currentPad = this.currentPad == this.numberOfPads - 1 ? 0 : ++this.currentPad;
					},
					runTimer: function() {
						this.timerId = setInterval(() => {
							this.shiftActivePad();
						}, 1000 * 60 / this.bpm);
					},
					stopTimer: function() {
						clearInterval(this.timerId);
					},
					setBPM: function(event) {
						const bpm = event.target.value;
						this.bpm = bpm;
						if (this.isPlaying) {
							this.stopTimer();
							this.runTimer(bpm);
						}
					},
					setActive: function(track, pad) {
						pad.active = !pad.active;
						if (pad.active && !this.isPlaying) {
							this.playSample(track.sample);
						}
					},
					startStop: function() {
						this.isPlaying = !this.isPlaying;
						this.isPlaying ? this.runTimer() : this.stopTimer();
					},
					loadSample: function(sampleName) {
						const request = new XMLHttpRequest();
						const url = `samples/${sampleName}.wav`;
						request.open('GET', url, true);
						request.responseType = 'arraybuffer';
						request.send();
						const buffers = this.soundBuffers;
						request.onload = function() {
							context.decodeAudioData(request.response, function(buffer) {
								buffers[sampleName] = buffer;
							});
						};
					},
					playSample: function(sampleName) {
						if (typeof this.soundBuffers[sampleName] !== 'undefined') {
							const source = context.createBufferSource();
							source.buffer = this.soundBuffers[sampleName];
							source.connect(context.destination);
							source.start();
						}
					},
				},
				mounted: function() {
					this.loadSample('hat');
					this.loadSample('snare');
					this.loadSample('bass');
					
				}
			});
			
		</script>
		
	</body>
</html>